<form method="post" action="{{ path('app_skill_delete', {'id': skill.id}) }}" style="display:inline-block;" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette compétence ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ skill.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer</button>
</form>