<form method="post" action="{{ path('app_quiz_result_delete', {'id': quiz_result.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quiz_result.id) }}">
    <button class="btn">Delete</button>
</form>