{% extends 'base.html.twig' %}

{% block title %}Edit Quiz result{% endblock %}

{% block body %}
    <h1>Edit Quiz result</h1>

    {{ include('quiz_result/_form.html.twig') }}

    <a href="{{ path('app_quiz_result_index') }}">back to list</a>

    {{ include('quiz_result/_delete_form.html.twig') }}
{% endblock %}