<form method="post" action="{{ path('app_training_program_delete', {'id': training_program.id}) }}" style="display:inline-block;" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce programme ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ training_program.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer</button>
</form>