{% extends 'backoffice/base_backoffice.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block page_title %}Dashboard{% endblock %}
{% block breadcrumb %}Dashboard{% endblock %}

{% block admin_content %}

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body d-flex align-items-center">
          <div class="me-4">
            <span class="fa-stack fa-2x text-white bg-primary rounded-circle p-3">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-user fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <div>
            <h4 class="mb-1">Admin</h4>
            <p class="mb-0">Profil administrateur par défaut</p>
            <p class="text-muted mb-0">Email: admin@example.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
