{% extends 'base.html.twig' %}

{% block title %}Edit Salaire{% endblock %}

{% block body %}
    <h1>Edit Salaire</h1>

    {{ include('salaire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_salaire_index') }}">back to list</a>

    {{ include('salaire/_delete_form.html.twig') }}
{% endblock %}
