{% extends 'base.html.twig' %}

{% block title %}New Salaire{% endblock %}

{% block body %}
    <h1>Create new Salaire</h1>

    {{ include('salaire/_form.html.twig') }}

    <a href="{{ path('app_salaire_index') }}">back to list</a>
{% endblock %}
