{% extends 'admin/base_admin.html.twig' %}

{% block title %}Nouvelle offre{% endblock %}
{% block page_title %}Nouvelle offre{% endblock %}
{% block breadcrumb %}Offres / Nouveau{% endblock %}

{% block admin_content %}
    <div class="card-modern" style="max-width: 800px; margin: 0 auto;">
        <div class="section-header">
            <div class="section-title"><i class="fas fa-plus"></i> Créer une offre</div>
        </div>
        {{ include('jobposition/_form.html.twig') }}
    </div>
{% endblock %}